alembic
aniso8601
blinker
click
Faker
Flask
Flask-Cors
Flask-JWT-Extended
Flask-Mail
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
greenlet
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
psycopg2-binary
PyJWT
python-dateutil
python-dotenv
pytz
setuptools
shell
six
SQLAlchemy
sqlalchemy-serializer
typing_extensions
Werkzeug
